In [55]:
import pandas as pd

In [56]:
demographic_gdp_data = pd.read_csv("Demographic_GDP.csv")
demographic_disaster_data = pd.read_csv("Demographic_Disaster.csv")
demographic_government_data = pd.read_csv("Demographic_Government.csv")

In [57]:
demographic_gdp_data.head()

,Country name,Year,Population,Population of children under the age of 1,Population of children under the age of 5,Population of children under the age of 15,Population under the age of 25,Population aged 15 to 64 years,Population older than 15 years,Population older than 18 years,...,GDP Per Capita,Population Growth Rate,GDP Growth Rate,Population aged 65 and older,Total Dependency Ratio,Child Dependency Ratio,Elderly Dependency Ratio,TDR Growth Rate,EDR Growth Rate,CDR Growth Rate
0,Afghanistan,1999,19262854,895539.0,4005677,9538093,13136494,9284534,9724752,8519511,...,212.014274,NaN,0.000000,440227,1.074725,1.027310,0.047415,NaN,NaN,NaN
1,Afghanistan,2000,19542986,898809.0,4044487,9716430,13343836,9380030,9826547,8606509,...,208.975230,1.454260,0.000000,446526,1.083467,1.035863,0.047604,0.813456,0.398208,0.832621
2,Afghanistan,2001,19688634,894038.0,4046425,9817924,13458009,9420852,9870699,8634748,...,207.429322,0.745270,0.000000,449858,1.089900,1.042148,0.047751,0.593667,0.309656,0.606719
3,Afghanistan,2002,21000258,941149.0,4280854,10488288,14365919,10031304,10511959,9179506,...,194.473801,6.661833,0.000000,480666,1.093472,1.045556,0.047917,0.327818,0.346157,0.326977
4,Afghanistan,2003,22645136,999679.0,4574403,11313832,15499313,10811842,11331293,9877464,...,202.471736,7.832656,12.267385,519462,1.094475,1.046430,0.048046,0.091717,0.269323,0.083578

In [58]:
demographic_disaster_data.head()

,Country name,Year,Population,Population of children under the age of 1,Population of children under the age of 5,Population of children under the age of 15,Population under the age of 25,Population aged 15 to 64 years,Population older than 15 years,Population older than 18 years,...,Population aged 20 to 29 years,Population aged 30 to 39 years,Population aged 40 to 49 years,Population aged 50 to 59 years,Population aged 60 to 69 years,Population aged 70 to 79 years,Population aged 80 to 89 years,Population aged 90 to 99 years,Population older than 100 years,Population Growth Rate
0,Afghanistan,1950,7480464,301735.0,1248282,3068855,4494349,4198587,4411609,3946595,...,1241348,909953,661807,467170,271905,92691,9499,123,0.0,0.000000
1,Afghanistan,1951,7571542,299368.0,1246857,3105444,4552138,4250002,4466098,3993640,...,1260904,922765,667015,468881,273286,94358,10155,118,0.0,1.217545
2,Afghanistan,1952,7667534,305393.0,1248220,3145070,4613604,4303436,4522464,4041439,...,1280288,935638,672491,470898,274852,96026,10721,139,0.0,1.267800
3,Afghanistan,1953,7764549,311574.0,1254725,3186382,4676232,4356242,4578167,4088379,...,1298803,948321,678064,472969,276577,97705,11254,166,0.0,1.265270
4,Afghanistan,1954,7864289,317584.0,1267817,3231060,4741371,4408474,4633229,4136116,...,1316768,961484,684153,475117,278210,99298,11793,190,0.0,1.284556

In [59]:
demographic_government_data.head()

,Country name,Year,Population,Population of children under the age of 1,Population of children under the age of 5,Population of children under the age of 15,Population under the age of 25,Population aged 15 to 64 years,Population older than 15 years,Population older than 18 years,...,Population aged 40 to 49 years,Population aged 50 to 59 years,Population aged 60 to 69 years,Population aged 70 to 79 years,Population aged 80 to 89 years,Population aged 90 to 99 years,Population older than 100 years,Dependency Ratio,Percent_expenditure_education,healthcare_expenditure
0,Afghanistan,2000,19542986,898809.0,4044487,9716430,13343836,9380030,9826547,8606509,...,1256153,861541,495073,202165,37212,1674,9.0,103.586343,NaN,NaN
1,Afghanistan,2001,19688634,894038.0,4046425,9817924,13458009,9420852,9870699,8634748,...,1263743,854291,494970,204078,38010,1721,10.0,104.214821,NaN,NaN
2,Afghanistan,2002,21000258,941149.0,4280854,10488288,14365919,10031304,10511959,9179506,...,1346252,899545,524785,218247,41164,1879,11.0,104.555579,NaN,9.443391
3,Afghanistan,2003,22645136,999679.0,4574403,11313832,15499313,10811842,11331293,9877464,...,1451498,958962,563715,236002,45091,2075,11.0,104.642965,NaN,8.941258
4,Afghanistan,2004,23553554,1020639.0,4705370,11758413,16126358,11254198,11795131,10265167,...,1511624,986258,585104,246037,47662,2212,11.0,104.480239,NaN,9.808474

In [60]:
combined_data = demographic_disaster_data.merge(demographic_gdp_data, on=['Country name', 'Year'])
combined_data = combined_data.merge(demographic_government_data, on=['Country name', 'Year'])

In [61]:
combined_data.head()

,Country name,Year,Population_x,Population of children under the age of 1_x,Population of children under the age of 5_x,Population of children under the age of 15_x,Population under the age of 25_x,Population aged 15 to 64 years_x,Population older than 15 years_x,Population older than 18 years_x,...,Population aged 40 to 49 years,Population aged 50 to 59 years,Population aged 60 to 69 years,Population aged 70 to 79 years,Population aged 80 to 89 years,Population aged 90 to 99 years,Population older than 100 years,Dependency Ratio,Percent_expenditure_education,healthcare_expenditure
0,Afghanistan,2000,19542986,898809.0,4044487,9716430,13343836,9380030,9826547,8606509,...,1256153,861541,495073,202165,37212,1674,9.0,103.586343,NaN,NaN
1,Afghanistan,2001,19688634,894038.0,4046425,9817924,13458009,9420852,9870699,8634748,...,1263743,854291,494970,204078,38010,1721,10.0,104.214821,NaN,NaN
2,Afghanistan,2002,21000258,941149.0,4280854,10488288,14365919,10031304,10511959,9179506,...,1346252,899545,524785,218247,41164,1879,11.0,104.555579,NaN,9.443391
3,Afghanistan,2003,22645136,999679.0,4574403,11313832,15499313,10811842,11331293,9877464,...,1451498,958962,563715,236002,45091,2075,11.0,104.642965,NaN,8.941258
4,Afghanistan,2004,23553554,1020639.0,4705370,11758413,16126358,11254198,11795131,10265167,...,1511624,986258,585104,246037,47662,2212,11.0,104.480239,NaN,9.808474

In [62]:
# Check for any missing values
print(combined_data.isnull().sum())

combined_data = combined_data.dropna()

Country name                                     0
Year                                             0
Population_x                                     0
Population of children under the age of 1_x      0
Population of children under the age of 5_x      0
                                              ...
Population aged 90 to 99 years                   0
Population older than 100 years                  0
Dependency Ratio                                 0
Percent_expenditure_education                  804
healthcare_expenditure                         151
Length: 83, dtype: int64

In [63]:
print(combined_data.size)

187912

## here we realised that some columns were reapeats and redundant columns so we cleaned them off

In [64]:
print(combined_data.columns)

Index(['Country name', 'Year', 'Population_x',
       'Population of children under the age of 1_x',
       'Population of children under the age of 5_x',
       'Population of children under the age of 15_x',
       'Population under the age of 25_x', 'Population aged 15 to 64 years_x',
       'Population older than 15 years_x', 'Population older than 18 years_x',
       'Population at age 1_x', 'Population aged 1 to 4 years_x',
       'Population aged 5 to 9 years_x', 'Population aged 10 to 14 years_x',
       'Population aged 15 to 19 years_x', 'Population aged 20 to 29 years_x',
       'Population aged 30 to 39 years_x', 'Population aged 40 to 49 years_x',
       'Population aged 50 to 59 years_x', 'Population aged 60 to 69 years_x',
       'Population aged 70 to 79 years_x', 'Population aged 80 to 89 years_x',
       'Population aged 90 to 99 years_x', 'Population older than 100 years_x',
       'Population Growth Rate_x', 'Population_y',
       'Population of children under the age of 1_y',
       'Population of children under the age of 5_y',
       'Population of children under the age of 15_y',
       'Population under the age of 25_y', 'Population aged 15 to 64 years_y',
       'Population older than 15 years_y', 'Population older than 18 years_y',
       'Population at age 1_y', 'Population aged 1 to 4 years_y',
       'Population aged 5 to 9 years_y', 'Population aged 10 to 14 years_y',
       'Population aged 15 to 19 years_y', 'Population aged 20 to 29 years_y',
       'Population aged 30 to 39 years_y', 'Population aged 40 to 49 years_y',
       'Population aged 50 to 59 years_y', 'Population aged 60 to 69 years_y',
       'Population aged 70 to 79 years_y', 'Population aged 80 to 89 years_y',
       'Population aged 90 to 99 years_y', 'Population older than 100 years_y',
       'GDP', 'GDP Per Capita', 'Population Growth Rate_y', 'GDP Growth Rate',
       'Population aged 65 and older', 'Total Dependency Ratio',
       'Child Dependency Ratio', 'Elderly Dependency Ratio', 'TDR Growth Rate',
       'EDR Growth Rate', 'CDR Growth Rate', 'Population',
       'Population of children under the age of 1',
       'Population of children under the age of 5',
       'Population of children under the age of 15',
       'Population under the age of 25', 'Population aged 15 to 64 years',
       'Population older than 15 years', 'Population older than 18 years',
       'Population at age 1', 'Population aged 1 to 4 years',
       'Population aged 5 to 9 years', 'Population aged 10 to 14 years',
       'Population aged 15 to 19 years', 'Population aged 20 to 29 years',
       'Population aged 30 to 39 years', 'Population aged 40 to 49 years',
       'Population aged 50 to 59 years', 'Population aged 60 to 69 years',
       'Population aged 70 to 79 years', 'Population aged 80 to 89 years',
       'Population aged 90 to 99 years', 'Population older than 100 years',
       'Dependency Ratio', 'Percent_expenditure_education',
       'healthcare_expenditure'],
      dtype='object')

In [65]:
combined_data.columns.tolist()

['Country name',
 'Year',
 'Population_x',
 'Population of children under the age of 1_x',
 'Population of children under the age of 5_x',
 'Population of children under the age of 15_x',
 'Population under the age of 25_x',
 'Population aged 15 to 64 years_x',
 'Population older than 15 years_x',
 'Population older than 18 years_x',
 'Population at age 1_x',
 'Population aged 1 to 4 years_x',
 'Population aged 5 to 9 years_x',
 'Population aged 10 to 14 years_x',
 'Population aged 15 to 19 years_x',
 'Population aged 20 to 29 years_x',
 'Population aged 30 to 39 years_x',
 'Population aged 40 to 49 years_x',
 'Population aged 50 to 59 years_x',
 'Population aged 60 to 69 years_x',
 'Population aged 70 to 79 years_x',
 'Population aged 80 to 89 years_x',
 'Population aged 90 to 99 years_x',
 'Population older than 100 years_x',
 'Population Growth Rate_x',
 'Population_y',
 'Population of children under the age of 1_y',
 'Population of children under the age of 5_y',
 'Population of children under the age of 15_y',
 'Population under the age of 25_y',
 'Population aged 15 to 64 years_y',
 'Population older than 15 years_y',
 'Population older than 18 years_y',
 'Population at age 1_y',
 'Population aged 1 to 4 years_y',
 'Population aged 5 to 9 years_y',
 'Population aged 10 to 14 years_y',
 'Population aged 15 to 19 years_y',
 'Population aged 20 to 29 years_y',
 'Population aged 30 to 39 years_y',
 'Population aged 40 to 49 years_y',
 'Population aged 50 to 59 years_y',
 'Population aged 60 to 69 years_y',
 'Population aged 70 to 79 years_y',
 'Population aged 80 to 89 years_y',
 'Population aged 90 to 99 years_y',
 'Population older than 100 years_y',
 'GDP',
 'GDP Per Capita',
 'Population Growth Rate_y',
 'GDP Growth Rate',
 'Population aged 65 and older',
 'Total Dependency Ratio',
 'Child Dependency Ratio',
 'Elderly Dependency Ratio',
 'TDR Growth Rate',
 'EDR Growth Rate',
 'CDR Growth Rate',
 'Population',
 'Population of children under the age of 1',
 'Population of children under the age of 5',
 'Population of children under the age of 15',
 'Population under the age of 25',
 'Population aged 15 to 64 years',
 'Population older than 15 years',
 'Population older than 18 years',
 'Population at age 1',
 'Population aged 1 to 4 years',
 'Population aged 5 to 9 years',
 'Population aged 10 to 14 years',
 'Population aged 15 to 19 years',
 'Population aged 20 to 29 years',
 'Population aged 30 to 39 years',
 'Population aged 40 to 49 years',
 'Population aged 50 to 59 years',
 'Population aged 60 to 69 years',
 'Population aged 70 to 79 years',
 'Population aged 80 to 89 years',
 'Population aged 90 to 99 years',
 'Population older than 100 years',
 'Dependency Ratio',
 'Percent_expenditure_education',
 'healthcare_expenditure']

In [66]:
# rmb add in noor's variables
columns_to_keep = [
 'Country name',
 'Year',
 'GDP',
 'GDP Per Capita',
 'Population Growth Rate_y',
 'GDP Growth Rate',
 'Population aged 65 and older',
 'Total Dependency Ratio',
 'Child Dependency Ratio',
 'Elderly Dependency Ratio',
 'TDR Growth Rate',
 'EDR Growth Rate',
 'CDR Growth Rate',
 'Population',
 'Population of children under the age of 1',
 'Population of children under the age of 5',
 'Population of children under the age of 15',
 'Population under the age of 25',
 'Population aged 15 to 64 years',
 'Population older than 15 years',
 'Population older than 18 years',
 'Population at age 1',
 'Population aged 1 to 4 years',
 'Population aged 5 to 9 years',
 'Population aged 10 to 14 years',
 'Population aged 15 to 19 years',
 'Population aged 20 to 29 years',
 'Population aged 30 to 39 years',
 'Population aged 40 to 49 years',
 'Population aged 50 to 59 years',
 'Population aged 60 to 69 years',
 'Population aged 70 to 79 years',
 'Population aged 80 to 89 years',
 'Population aged 90 to 99 years',
 'Population older than 100 years',
 'Percent_expenditure_education',
 'healthcare_expenditure'
]

combined_df_cleaned = combined_data[columns_to_keep]

In [67]:
combined_df_cleaned.to_csv('Combined_Data.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'Combined_Data.csv'